@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}

/*Universales*/




/*Logo*/
.logo-game{
    padding: 0;
    margin: 0;
    width: 90px;
    height: 90px;
}

/*HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0 100px;
    z-index: 100000;
}
header.sticky{
    padding: 5px 100px;
    background: #bdb6b6;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
header.sticky ul li a{
    color: #000000;
}


/*Scroll de color*/
section{
    padding: 50px;
    background: #000;
}
section h2{
    font-size: 2.5em;
    color: #ffffff;
}
section p{
    font-size: 1.2em;
    color: #ffffff;
}
::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(225, 225, 225, 0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter:hue-rotate(0deg);
    }
    50%{
        filter:hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}


/*Titulos*/
.noticias{
    position: relative;
    font-size: 3.4em;
    font-weight: 900;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
}
h2:before{
    content: '';
    position: absolute;
    left: -20%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, #000 5%,#000 100%);
    animation: animate1 5.5s linear forwards;
}
@keyframes animate1{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
} 
h2 span{
    color: #ff022c;
}


/*Tarjetas de noticias*/
.contenedor{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.content p{
    color: black;
}
.contenedor .card{
    position: relative;
    height: 300px;
    background: #ffffff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}
.contenedor .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;

}
.contenedor .card:hover .imgBx{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% -75px);
    transition: 0.5s ease-in-out;
}
.contenedor .card .imgBx:before{
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}
.contenedor .card .imgBx img{
    max-width: 500px;
    transition: 0.5s ease-in-out;
}
.contenedor .card:hover .imgBx img{
    max-width: 75px;
}
.contenedor .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .card .content h3{
    margin-bottom: 5px;
    font-size: 24px;
    color: black;

}
.contenedor .card .content a{
    display:  inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background:#333;
    text-decoration: none;
    color: #ffffff;
}
@media(max-width:992px){
    .contenedor{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .contenedor .card{
        width: 400px;
    }
}
@media(max-width: 768px){
    .contenedor .card{
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }
    .contenedor .card .imgBx{
        position: relative;
    }
    .contenedor .card .imgBx,.contenedor .card:hover .imgBx{
        width: 100%;
        height: 200px;
        left: 0;
    }
    .contenedor .card .imgBx,.contenedor .card:hover .imgBx img{
        max-width: 100%;
    }
    .contenedor .card .content{
        position: relative;
        width: 100%;
    }
}

@media(max-width:992px){
    header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    header a{
        width: 340px;
        left: 50px;
    }
    #scrollPath{
        background: none;
        overflow-x:hidden; 
        overflow-y:hidden;
    }
    #progressbar{
        background: none;
        overflow-x:hidden; 
        overflow-y:hidden;
    }
}
@media(max-width:992px){
    .noticias{
        position: relative;
        top:60px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .noticias h2{
        width: 400px;
    }
    #scrollPath{
        background: none;
        overflow-x:hidden; 
        overflow-y:hidden;
    }
    #progressbar{
        background: none;
        overflow-x:hidden; 
        overflow-y:hidden;
    }
}
@media(max-width: 320px){
    header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    header a{
        width: 400px;
    }
    #progressbar{
        
        overflow-x:hidden; 
        overflow-y:hidden;
    }
    #scrollPath{   
        overflow-x:hidden; 
        overflow-y:hidden;
    }
}